:root{
  --color-white:#fff;
  --color-black:#000;


  --color-link:#202C4A;
  --color-link-visited:#8B8B97;
  --color-link-hover:#E53847;
  --color-link-active:#3E3E9A;
  --color-link-focus:#6CE778;

  --color-bg-primary:#fff;
  --color-bg-secondary:#F0F0F0;
  --color-bg-tertiary:#202C4A;

  --color-text-primary:#000;
  --color-text-secondary:#fff;

  --color-gradient:linear-gradient(90deg,rgba(98,189,252,0)100%,rgba(134,2144,255,0)100%);
}